{{/*
  Get OG Image Partial

  Returns the appropriate OG/social media image for the current page.
  Episodes get unique cover art OGs; all other pages use the brand mark.

  Usage:
    {{ $ogImage := partial "get-og-image.html" . }}
    {{ with $ogImage }}<meta property="og:image" content="{{ .Permalink }}">{{ end }}
*/}}

{{- $ogImage := resources.Get "images/og-default.jpg" -}}

{{- if and (eq .Section "episodes") .Params.season .Params.episode -}}
  {{- $episodeOg := printf "images/og/s%02de%02d.jpg" .Params.season .Params.episode -}}
  {{- with resources.Get $episodeOg -}}
    {{- $ogImage = . -}}
  {{- end -}}
{{- end -}}

{{- return $ogImage -}}
