{{- $site := .Site -}}
{{- $page := . -}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {{/* Organization - always present */}}
    {
      "@type": "Organization",
      "@id": "{{ $site.BaseURL }}#organization",
      "name": "{{ $site.Title }}",
      "url": "{{ $site.BaseURL }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ "favicon.svg" | absURL }}"
      },
      "sameAs": [
        {{- $social := slice -}}
        {{- with $site.Params.youtube }}{{ $social = $social | append . }}{{ end -}}
        {{- with $site.Params.nostr }}{{ $social = $social | append (printf "nostr:%s" .) }}{{ end -}}
        {{- with $site.Params.substack }}{{ $social = $social | append . }}{{ end -}}
        {{- range $i, $url := $social }}{{ if $i }},{{ end }}"{{ $url }}"{{ end -}}
      ]
    }
    {{/* WebSite - on homepage for sitelinks search box */}}
    {{- if .IsHome -}}
    ,{
      "@type": "WebSite",
      "@id": "{{ $site.BaseURL }}#website",
      "name": "{{ $site.Title }}",
      "url": "{{ $site.BaseURL }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "{{ $site.BaseURL }}?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }
    }
    {{- end }}
    {{/* PodcastSeries - on homepage and episode pages */}}
    {{- if or .IsHome (eq .Section "episodes") -}}
    ,{
      "@type": "PodcastSeries",
      "@id": "{{ $site.BaseURL }}#podcast",
      "name": "{{ $site.Title }}",
      "description": "{{ $site.Params.description }}",
      "url": "{{ $site.BaseURL }}",
      "webFeed": "{{ $site.Params.podcast_rss_url }}",
      "inLanguage": "{{ $site.Params.podcast.language | default "en" }}",
      "author": {
        "@type": "Person",
        "name": "{{ $site.Params.author }}"
      },
      "image": "{{ "images/og-default.jpg" | absURL }}"
    }
    {{- end }}
    {{/* PodcastEpisode - on individual episode pages */}}
    {{- if and .IsPage (eq .Section "episodes") -}}
    ,{
      "@type": "PodcastEpisode",
      "@id": "{{ .Permalink }}#episode",
      "name": "{{ .Title }}",
      "description": "{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}",
      "url": "{{ .Permalink }}",
      "datePublished": "{{ .Date.Format "2006-01-02" }}",
      {{- with .Params.audio_url }}
      "associatedMedia": {
        "@type": "MediaObject",
        "contentUrl": "{{ . }}"
      },
      {{- end }}
      {{- with .Params.duration }}
      {{- $parts := split . ":" -}}
      {{- $iso := "" -}}
      {{- if eq (len $parts) 3 -}}
        {{- $iso = printf "PT%sH%sM%sS" (index $parts 0) (index $parts 1) (index $parts 2) -}}
      {{- else if eq (len $parts) 2 -}}
        {{- $iso = printf "PT%sM%sS" (index $parts 0) (index $parts 1) -}}
      {{- end -}}
      "timeRequired": "{{ $iso }}",
      {{- end }}
      {{- with .Params.featured_image }}
      {{- $img := resources.Get . }}
      {{- with $img }}
      "image": "{{ .Permalink }}",
      {{- end }}
      {{- end }}
      {{- with .Params.episode }}
      "episodeNumber": {{ . }},
      {{- end }}
      {{- with $.Params.season }}
      "partOfSeason": {
        "@type": "CreativeWorkSeason",
        "seasonNumber": {{ . }}
      },
      {{- end }}
      "partOfSeries": {
        "@type": "PodcastSeries",
        "@id": "{{ $site.BaseURL }}#podcast"
      }
      {{- with $.Params.guest }},
      "actor": {
        "@type": "Person",
        "name": "{{ .name }}"
        {{- with .bio }},
        "description": "{{ . | plainify | truncate 200 }}"
        {{- end }}
      }
      {{- end }}
    }
    {{- end }}
    {{/* Person - on guest taxonomy term pages */}}
    {{- if eq .Kind "term" -}}
    {{- if eq .Type "guests" -}}
    {{- $firstEpisode := index .Pages 0 -}}
    {{- with $firstEpisode.Params.guest -}}
    ,{
      "@type": "Person",
      "@id": "{{ $page.Permalink }}#person",
      "name": "{{ .name }}"
      {{- with .bio }},
      "description": "{{ . | plainify | truncate 300 }}"
      {{- end }}
      {{- $sameAs := slice -}}
      {{- with .social -}}
        {{- with .twitter }}{{ $sameAs = $sameAs | append . }}{{ end -}}
        {{- with .nostr }}{{ $sameAs = $sameAs | append . }}{{ end -}}
        {{- with .website }}{{ $sameAs = $sameAs | append . }}{{ end -}}
        {{- with .linkedin }}{{ $sameAs = $sameAs | append . }}{{ end -}}
        {{- with .mastodon }}{{ $sameAs = $sameAs | append . }}{{ end -}}
        {{- with .github }}{{ $sameAs = $sameAs | append . }}{{ end -}}
        {{- with .substack }}{{ $sameAs = $sameAs | append . }}{{ end -}}
      {{- end -}}
      {{- if gt (len $sameAs) 0 }},
      "sameAs": [{{ range $i, $url := $sameAs }}{{ if $i }},{{ end }}"{{ $url }}"{{ end }}]
      {{- end }}
    }
    {{- end }}
    {{- end }}
    {{- end }}
    {{/* Article - on essay pages */}}
    {{- if and .IsPage (eq .Section "essays") -}}
    ,{
      "@type": "Article",
      "@id": "{{ .Permalink }}#article",
      "headline": "{{ .Title }}",
      "description": "{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}",
      "url": "{{ .Permalink }}",
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
      {{- with .Lastmod }}
      "dateModified": "{{ .Format "2006-01-02T15:04:05Z07:00" }}",
      {{- end }}
      "author": {
        "@type": "Person",
        "name": "{{ $site.Params.author }}"
      },
      "publisher": {
        "@type": "Organization",
        "@id": "{{ $site.BaseURL }}#organization"
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
      }
    }
    {{- end }}
    {{/* BreadcrumbList - on all pages except homepage */}}
    {{- if not .IsHome -}}
    ,{
      "@type": "BreadcrumbList",
      "@id": "{{ .Permalink }}#breadcrumb",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "{{ $site.BaseURL }}"
        }
        {{- if .Section -}}
        ,{
          "@type": "ListItem",
          "position": 2,
          "name": "{{ .Section | title }}",
          "item": "{{ $site.BaseURL }}{{ .Section }}/"
        }
        {{- end -}}
        {{- if and .IsPage .Section -}}
        ,{
          "@type": "ListItem",
          "position": 3,
          "name": "{{ .Title }}"
        }
        {{- else if and .IsPage (not .Section) -}}
        ,{
          "@type": "ListItem",
          "position": 2,
          "name": "{{ .Title }}"
        }
        {{- end -}}
      ]
    }
    {{- end }}
  ]
}
</script>
